/* Definição de estilos para o tema claro e escuro */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    transition: background-color 0.3s, color 0.3s;
}

.container {
    text-align: center;
    margin-top: 50px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.light-theme {
    background-color: #f0f0f0;
    color: #333;
}

.dark-theme {
    background-color: #333;
    color: #f0f0f0;
}

/* Estilo do botão */
button {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
}